

/* ліве меню */
#cabinet aside{
    border-right: 1px solid var(--gray-light);
}


@media(max-width: 996px){
    #cabinet aside{
        display: none;
    }
}





/* іконка зліва */
.aside-icon{
    padding: 10px;
    text-align: center;
    position: relative;
}

.aside-icon svg{
    width: 24px;
    height: 24px;
    fill: var(--black);
}

/* до іконки можуть бути додані міні-іконки */
/* .aside-icon .status{
    position: absolute;
    bottom: 7px;
    right: 7px;
    z-index: 1;

    background: var(--white);
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.aside-icon .status svg{
    width: 16px;
    height: 16px;
} */




/* колір іконок */
.aside-icon .status.red svg{
    fill: var(--red)
}

.aside-icon .status.green svg{
    fill: var(--green)
}

.aside-icon .status.black svg{
    fill: var(--black)
}






/* синя плашка */
#sticked{
    margin: 20px 0;
    padding: 10px 20px;
    background: var(--blue);
    color: var(--white);
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    text-decoration: none;
}

#sticked svg{
    fill: var(--white);
    width: 26px;
    height: 26px;
}



/* меню */
#cabinet aside ul,
#cabinet aside li{
    display: block;
}

#cabinet aside li a{
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--black);
    padding: 0 5px;
    margin: 0 15px;
    line-height: 1;
    transition: .1s;
}

#cabinet aside li a:hover,
#cabinet aside li a.active{
    background: var(--gray-light);
    border-radius: 5px;
}



#cabinet aside li span{
    position: relative;
}

/* кількість справа */
#cabinet aside li span b{
    position: absolute;
    top: -5px;
    right: 0;
    background: var(--blue);
    color: var(--white);
    border-radius: 50%;
    text-align: center;
    padding: 5px 4px;
    font-size: 12px;
}