

/* кнопка редагування справа (або чекбокс)*/
#edit{
    width: 22px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512' fill='%234a9ad5'%3E%3Cpath d='M402.3 344.9l32-32c5-5 13.7-1.5 13.7 5.7V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h273.5c7.1 0 10.7 8.6 5.7 13.7l-32 32c-1.5 1.5-3.5 2.3-5.7 2.3H48v352h352V350.5c0-2.1.8-4.1 2.3-5.6zm156.6-201.8L296.3 405.7l-90.4 10c-26.2 2.9-48.5-19.2-45.6-45.6l10-90.4L432.9 17.1c22.9-22.9 59.9-22.9 82.7 0l43.2 43.2c22.9 22.9 22.9 60 .1 82.8zM460.1 174L402 115.9 216.2 301.8l-7.3 65.3 65.3-7.3L460.1 174zm64.8-79.7l-43.2-43.2c-4.1-4.1-10.8-4.1-14.8 0L436 82l58.1 58.1 30.9-30.9c4-4.2 4-10.8-.1-14.9z'/%3E%3C/svg%3E");
}

#edit.active{
    height: 22px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 365.696 365.696' xmlns='http://www.w3.org/2000/svg' fill='%234a9ad5'%3E%3Cpath d='m243.1875 182.859375 113.132812-113.132813c12.5-12.5 12.5-32.765624 0-45.246093l-15.082031-15.082031c-12.503906-12.503907-32.769531-12.503907-45.25 0l-113.128906 113.128906-113.132813-113.152344c-12.5-12.5-32.765624-12.5-45.246093 0l-15.105469 15.082031c-12.5 12.503907-12.5 32.769531 0 45.25l113.152344 113.152344-113.128906 113.128906c-12.503907 12.503907-12.503907 32.769531 0 45.25l15.082031 15.082031c12.5 12.5 32.765625 12.5 45.246093 0l113.132813-113.132812 113.128906 113.132812c12.503907 12.5 32.769531 12.5 45.25 0l15.082031-15.082031c12.5-12.503906 12.5-32.769531 0-45.25zm0 0'/%3E%3C/svg%3E");
}

/* натискання на кнопку відкриває приховану область */
#hidden-area{
    display: none;
}

/* прихований блок */
#hidden-area.active{
    display: block;
}


#hidden-area-2{
    display: none;
}

/* прихований блок */
#hidden-area-2.active{
    display: block;
}


/* неактивний блок */
#disabled-area{
    pointer-events: none;
}

#disabled-area.active{
    pointer-events: unset;
}


/** del **/
.icon-link{
    fill: var(--blue);
    cursor: pointer;
    width: 22px;
    height: 22px;
    margin-left: auto;
}

a.icon-link svg{
    fill: var(--blue);
    cursor: pointer;
    width: 22px;
    height: 22px;
    margin-left: auto;
}
/** del **/

.icon-link input{
    width: 22px;
    height: 22px;
    cursor: pointer;
}