/* контент */

#cabinet main{    
    padding: 5px 20px 20px 50px;
}

@media(max-width: 996px){
    #cabinet main{
        padding: 5px 0;
    }
}


/* заголовок */
#cabinet main h1{
    margin: 0 0 20px;
    font-size: 18px;
    font-weight: normal;
}



/* блок з контуром */
#cabinet .block{
    border-radius: 5px;
    border: 1px solid var(--gray-light);
    padding: 10px;
    margin: 20px 0 40px;
}

/* короткий опис в 1 абзац */
#cabinet .block .description{
    padding: 0 20px;
    display: block;
}

/* підзаголовок */
#cabinet main h2{
    position: relative;
    font-size: 16px;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0 5px 20px;
    margin: 0 0 20px;
}

#cabinet main h2::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background: var(--gray);
    display: block;
    border-radius: 5px;
}

/* якщо послуга підключена, то вертикальна смужка зліва стає зеленою */
#cabinet main h2.active::before{
    background: var(--green);
}

#cabinet main h2 svg{
    width: 22px;
    height: 22px;
}

/* іконка і підпис зліва */
#cabinet main h2 span{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#cabinet main h2 span svg{
    margin-right: 10px;
}



/* абзацний відступ */
#cabinet main p{
    margin: 20px 0;
    display: flex;
    align-items: center;
}




/* описи ліво/право */
ul.user-data{
    display: block;
    margin: 10px 20px;
}

/* лівий блок */
ul.user-data li{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border-top: 1px solid var(--gray-light);
}

ul.user-data li:first-child{
    border: none;
}

ul.user-data li p{
    display: flex;
    align-items: center;
    padding: 10px 0 10px 10px;
    margin: 0!important;
}

/* правий блок (з іконкою)*/
ul.user-data li p:first-child{
    color: var(--gray);
    padding: 10px 0;
}

/* у деяких шаблонах юзер-дата має бордери вгорі та низу */
ul.user-data.borders{
    border-top: 1px solid var(--gray-light);
    border-bottom: 1px solid var(--gray-light);
}

ul.user-data strong{
    color: var(--red);
}



/* опис зліва і кнопка справа */
ol.user-data{
    display: block;
    margin: 10px 20px;
}

ol.user-data li{
    color: var(--gray);
    border-top: 1px solid var(--gray-light);
    list-style-position: inside;
    padding: 10px 0;
}

ol.user-data a{
    color: var(--blue);
    text-decoration: underline;
}

ol.user-data a:hover{
    text-decoration: none;
}

ol.user-data strong{
    color: var(--blue);
}



/* кнопка видалення */
.user-data .icon-on-the-right{
    float: right;
    cursor: pointer;
    margin-left: auto;
    color: var(--blue)
}

.user-data li svg{
    width: 22px;
    height: 22px;
    fill: var(--blue);
}



/* поле для вставки коду від друга */
.user-data input[type="text"]{
    width: 100%;
    padding: 5px;
    border: 1px solid var(--gray-light);
    border-radius: 5px;
    outline: none;
}





/* поля, які редагуються */
.edit-area{}

.edit-area input[type="text"]{
    border: none;
    pointer-events: none;
}

/* поле, яке редагується */
p.edited input[type="text"]{
    background: var(--yellow);
    pointer-events: auto;
}



/* поле, де перемикається кнопка тарифу */
p.change{
    align-items: flex-start!important;
    justify-content: center;
}

p.change svg{
    width: 22px;
    height: 22px;
    fill: var(--blue);
    cursor: pointer;
}

/* поле зі сумою для поповнення */
#sum{    
    padding: 5px;
    border: 1px solid var(--gray-light);
    border-radius: 5px;
    outline: none;
    width: 70px;
    margin: 0 10px 0 0;


}

#sum::-webkit-outer-spin-button,
#sum::-webkit-inner-spin-button{
    -moz-apperance: none;
    -webkit-appearance: none;
    appearance: none;    
}

/* Кнопка підтвердження */
#user-confirm{
    display: none;
}

#user-confirm.disabled{
    display: block;
}

#user-confirm.disabled button{
    pointer-events: none;
    background: var(--gray-light);
    color: var(--black);
}

/* якщо вона вкладена, то має додатковий відступ */
.block #user-confirm{
    margin: 0 20px;
}

#user-confirm.show{
    display: block;
}

button{
    padding: 8px;
    text-align: center;
    cursor: pointer;
    color: var(--white);
    background: var(--blue);
    border-radius: 5px;
    border: none;
    outline: none;
    width: 100%;
    display: block;
    margin: 0 0 20px;
    transition: .5s;
}

button:hover{
    background: var(--green);
}


/* header message */
/* дві кнопки перемикання чекбоксів */
.main-header{
    border: 1px solid var(--gray-light);
    border-left: none;
    border-right: none;
    padding: 10px 20px;
}

.main-header span{
    display: inline-flex;
    align-items: center;
    margin: 0 20px 0 0;
    cursor: pointer;
    color: var(--gray);
}

.main-header span svg{
    width: 22px;
    height: 22px;
    fill: var(--gray);
    margin: 0 10px 0 0;
}

.main-header span:hover,
.main-header span.active{
    color: var(--black);
}

.main-header span:hover svg,
.main-header span.active svg{
    fill: var(--black);
}